@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background-image: radial-gradient(#71FFFF, #75209B);
  color: white;
  font-family: 'Open Sans', serif;
  letter-spacing: 1px;
  text-align: justify;
  line-height: 30px;
}

body p {
  font-size: 1.2vw;
}

body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body h1 {
  font-size: 3.5vw;
}

body h2 {
  font-size: 3.5vw;
}

body h3 {
  font-size: 1.3rem;
}

.grilla {
  display: -ms-grid;
  display: grid;
}

.grilla .header {
  grid-area: header;
}

.grilla main {
  grid-area: main;
  margin-top: 50px;
  margin-bottom: 50px;
}

.grilla footer {
  grid-area: footer;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.header .divMenu {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .divMenu .botonMenu {
  width: auto;
  height: 60px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header .navbar-nav {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  float: none;
  margin-right: 0;
  padding: 0;
  border: none;
  line-height: 0;
  background-color: inherit;
}

.header .navbar-nav .navbar-light .nav-item {
  border: none;
  width: 100%;
  padding-left: 0;
}

.navbar-light #navbarNav .nav-item .menuPrimario {
  color: white;
}

.navbar-light #navbarNav .nav-item .menuPrimario:hover {
  color: #2b282a;
}

.navbar-light #navbarNav .nav-item .menuSecundario {
  color: white;
}

.navbar-light #navbarNav .nav-item .menuSecundario:hover {
  color: #2b282a;
}

.mensajes, .mainInd .mainIndUno .bioInd .msjBio, .mainInd .mainIndUno .discoInd .msjDisco, .mainInd .mainIndDos .contactoIndCol div .msjContacto {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: mensaje;
  display: none;
  font-size: 1.5vw;
  font-family: "Josefin Sans", sans-serif;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  height: 20vh;
}

footer p {
  font-size: 0.8rem;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 25%;
  font-size: 1.4rem;
  padding-left: 0;
}

footer ul li a {
  color: white;
}

footer ul li a:hover {
  color: #2b282a;
}

/* INDEX */
.headInd .headCol, .bodyContacto .headContacto .headCol {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "navBar navBar navBar" "imag imag titulo";
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
  text-align: center;
  background-image: radial-gradient(#71FFFF, #75209B);
}

.headInd .headCol .navInd, .bodyContacto .headContacto .headCol .navInd {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: navBar;
  text-align: start;
  word-spacing: 1vw;
  margin-top: 1.5vw;
  margin-left: 2vw;
}

.headInd .headCol .navInd a, .bodyContacto .headContacto .headCol .navInd a {
  color: black;
  text-decoration: none;
  font-size: 1.1vw;
  letter-spacing: 0.2vw;
  font-weight: bold;
}

.headInd .headCol .navInd a:hover, .bodyContacto .headContacto .headCol .navInd a:hover {
  color: white;
}

.headInd .headCol .imgInd, .bodyContacto .headContacto .headCol .imgInd {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: imag;
}

.headInd .headCol .imgInd img, .bodyContacto .headContacto .headCol .imgInd img {
  width: 60%;
  height: 100%;
  margin-left: 48%;
}

.headInd .headCol .tituloInd, .bodyContacto .headContacto .headCol .tituloInd {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: titulo;
  -ms-flex-item-align: center;
      align-self: center;
}

.headInd .headCol .tituloInd h1, .bodyContacto .headContacto .headCol .tituloInd h1 {
  color: black;
  font-family: 'Alfa Slab One', cursive;
}

.headInd .headCol .tituloInd span, .bodyContacto .headContacto .headCol .tituloInd span {
  color: white;
}

.mainInd {
  font-family: "Alfa Slab One", cursive;
}

.mainInd .mainIndUno {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "bioInd discoInd";
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainInd .mainIndUno .bioInd {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: bioInd;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "titulo titulo" "imagen mensaje";
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: black;
  height: 100%;
  padding-bottom: 6vw;
  -webkit-transition: 0s background-color;
  transition: 0s background-color;
  color: white;
}

.mainInd .mainIndUno .bioInd img {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: imagen;
  width: 75%;
}

.mainInd .mainIndUno .bioInd h2 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: titulo;
  margin-top: 6vw;
}

.mainInd .mainIndUno .bioInd .msjBio p:hover {
  font-size: 1.7vw;
}

.mainInd .mainIndUno .bioInd:hover {
  background-color: #eaeaea;
  color: black;
  -webkit-transition: .4s ease-out;
  -webkit-transition: .4s linear;
  transition: .4s linear;
}

.mainInd .mainIndUno .bioInd:hover .msjBio {
  display: initial;
}

.mainInd .mainIndUno .discoInd {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: discoInd;
  text-align: center;
  height: 100%;
  background-color: #fff;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "titulo titulo" "disco reproductor" "mensaje mensaje";
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0s background-color;
  transition: 0s background-color;
  color: black;
  justify-items: center;
}

.mainInd .mainIndUno .discoInd img {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: disco;
  width: 60%;
  margin-left: 5vw;
  margin-top: -6vw;
}

.mainInd .mainIndUno .discoInd h2 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: titulo;
  margin-top: 4vw;
}

.mainInd .mainIndUno .discoInd audio {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: reproductor;
  width: 75%;
  margin-left: -2vw;
  margin-top: -6vw;
}

.mainInd .mainIndUno .discoInd .msjDisco {
  width: 53vw;
  margin-bottom: 0;
  position: absolute;
  top: 34vw;
  left: 25vw;
}

.mainInd .mainIndUno .discoInd .msjDisco p:hover {
  font-size: 1.7vw;
}

.mainInd .mainIndUno .discoInd:hover {
  background-color: #eaeaea;
  -webkit-transition: .4s ease-out;
  -webkit-transition: .4s linear;
  transition: .4s linear;
}

.mainInd .mainIndUno .discoInd:hover .msjDisco {
  display: initial;
}

.mainInd .mainIndDos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
      grid-template-areas: "bandasInd contactoInd";
  background-color: black;
  height: 32vw;
}

.mainInd .mainIndDos .bandasIndCol {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: bandasInd;
  height: 100%;
  text-align: center;
  background-image: radial-gradient(#eaeaea, #5b5b5b);
  -webkit-transition: 0s background-image;
  transition: 0s background-image;
  position: relative;
}

.mainInd .mainIndDos .bandasIndCol img {
  width: 65%;
  opacity: 85%;
  margin-top: 3vw;
}

.mainInd .mainIndDos .bandasIndCol .textoBandasInd {
  display: none;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  height: 40%;
  padding-top: 3%;
  margin-top: -16vw;
  margin-left: 16vw;
  background-color: #ffffffeb;
  -webkit-box-shadow: 0px 0px 5px black;
          box-shadow: 0px 0px 5px black;
}

.mainInd .mainIndDos .bandasIndCol .textoBandasInd h2 {
  position: relative;
  color: black;
  font-family: "Alfa Slab One", cursive;
}

.mainInd .mainIndDos .bandasIndCol .textoBandasInd p {
  position: relative;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5vw;
}

.mainInd .mainIndDos .bandasIndCol:hover .textoBandasInd {
  display: block;
  -webkit-transition: .4s ease-out;
  -webkit-transition: .4s linear;
  transition: .4s linear;
}

.mainInd .mainIndDos .bandasIndCol:hover .textoBandasInd p:hover {
  font-size: 1.7vw;
}

.mainInd .mainIndDos .contactoIndCol {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: contactoInd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  height: 100%;
  text-align: center;
  background-color: black;
  -ms-flex-item-align: center;
      align-self: center;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainInd .mainIndDos .contactoIndCol div {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.mainInd .mainIndDos .contactoIndCol div h2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.mainInd .mainIndDos .contactoIndCol div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: -4vw;
}

.mainInd .mainIndDos .contactoIndCol div ul a {
  color: #71FFFF;
}

.mainInd .mainIndDos .contactoIndCol div ul a:hover {
  color: #75209B;
}

.mainInd .mainIndDos .contactoIndCol div .msjContacto p:hover {
  font-size: 1.7vw;
}

.mainInd .mainIndDos .contactoIndCol:hover {
  background-color: #eaeaea;
  color: black;
  -webkit-transition: .4s ease-out;
  -webkit-transition: .4s linear;
  transition: .4s linear;
}

.mainInd .mainIndDos .contactoIndCol:hover .redes {
  color: #75209B;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.mainInd .mainIndDos .contactoIndCol:hover .msjContacto {
  display: initial;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.footerInd {
  height: 100%;
  background-color: black;
}

.footerInd .footerIndCol {
  text-align: center;
}

.footerInd .footerIndCol p {
  margin-top: 0vw;
  color: white;
  text-align: center;
}

.footerInd .footerIndCol img {
  position: unset;
  width: 25%;
  margin-top: -21vw;
}

.cartelClick {
  text-decoration: none;
  color: #6b0e95;
}

.cartelClick:hover {
  color: #1b79ff;
}

/* CIERRE INDEX */
/* BIOGRAFÍA */
.headBio .headCol {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "navBar navBar navBar" "imag imag titulo";
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
  text-align: center;
  background-image: radial-gradient(#FF7171, #9B2020);
}

.headBio .headCol .navBio {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: navBar;
  text-align: start;
  word-spacing: 1vw;
  margin-top: 1.5vw;
  margin-left: 2vw;
}

.headBio .headCol .navBio a {
  color: black;
  text-decoration: none;
  font-size: 1.1vw;
  letter-spacing: 0.2vw;
  font-weight: bold;
}

.headBio .headCol .navBio a:hover {
  color: white;
}

.headBio .headCol .imgBio {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: imag;
}

.headBio .headCol .imgBio img {
  width: 60%;
  height: 100%;
  margin-left: 48%;
}

.headBio .headCol .tituloBio {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: titulo;
  -ms-flex-item-align: center;
      align-self: center;
}

.headBio .headCol .tituloBio h1 {
  color: black;
  font-family: 'Alfa Slab One', cursive;
}

.headBio .headCol .tituloBio span {
  color: white;
}

.mainBio .mainBioUno, .mainBio .mainBioTres {
  background-color: #eaeaea;
  color: black;
}

.mainBio .mainBioUno .bioColUno, .mainBio .mainBioTres .bioColUno {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 5vw;
}

.mainBio .mainBioUno .bioColUno img, .mainBio .mainBioTres .bioColUno img {
  width: 60%;
  -webkit-box-shadow: 3px 3px 5px black;
          box-shadow: 3px 3px 5px black;
}

.mainBio .mainBioUno .bioColUno .imgOculta, .mainBio .mainBioTres .bioColUno .imgOculta {
  display: none;
}

.mainBio .mainBioUno .bioColDos, .mainBio .mainBioTres .bioColDos {
  padding: 5vw;
}

.mainBio .mainBioUno .bioColDos h2, .mainBio .mainBioTres .bioColDos h2 {
  text-align: center;
  font-weight: bold;
}

.mainBio .mainBioUno .bioColDos .textoMainBio, .mainBio .mainBioTres .bioColDos .textoMainBio {
  margin-top: 3vw;
}

.mainBio .mainBioDos {
  background-color: #171717;
}

.mainBio .mainBioDos .bioColUno {
  padding: 5vw;
}

.mainBio .mainBioDos .bioColUno h2 {
  text-align: center;
  font-weight: bold;
}

.mainBio .mainBioDos .bioColUno .textoMainBio {
  margin-top: 3vw;
}

.mainBio .mainBioDos .bioColDos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 5vw;
}

.mainBio .mainBioDos .bioColDos img {
  width: 55%;
  -webkit-box-shadow: 3px 3px 5px black;
          box-shadow: 3px 3px 5px black;
}

.mainBio .mainBioDos .bioColDos .imgOculta {
  display: none;
}

.mainBio .mainBioTres {
  position: relative;
  z-index: 2;
}

/*CIERRE BIOGRAFÍA*/
/*DISCOGRAFÍA*/
.bodyDisco {
  background-color: #252626;
  background-image: none;
}

.bodyDisco .headDisco .headCol {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "navBar navBar navBar" "imag imag titulo";
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
  text-align: center;
  background-image: radial-gradient(#93fd70, #447a7a);
}

.bodyDisco .headDisco .headCol .navDisco {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: navBar;
  text-align: start;
  word-spacing: 1vw;
  margin-top: 1.5vw;
  margin-left: 2vw;
}

.bodyDisco .headDisco .headCol .navDisco a {
  color: black;
  text-decoration: none;
  font-size: 1.1vw;
  letter-spacing: 0.2vw;
  font-weight: bold;
}

.bodyDisco .headDisco .headCol .navDisco a:hover {
  color: white;
}

.bodyDisco .headDisco .headCol .imgDisco {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: imag;
}

.bodyDisco .headDisco .headCol .imgDisco img {
  width: 60%;
  height: 100%;
  margin-left: 48%;
}

.bodyDisco .headDisco .headCol .tituloDisco {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: titulo;
  -ms-flex-item-align: center;
      align-self: center;
}

.bodyDisco .headDisco .headCol .tituloDisco h1 {
  color: black;
  font-family: 'Alfa Slab One', cursive;
}

.bodyDisco .headDisco .headCol .tituloDisco span {
  color: white;
}

.bodyDisco .mainDisco {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  position: relative;
  z-index: 1;
}

.bodyDisco .mainDisco .discosSec {
  max-width: 600px;
  width: 550px;
  height: 350px;
  -webkit-box-shadow: 5px 5px 4px black;
          box-shadow: 5px 5px 4px black;
  background-image: radial-gradient(#93fd70, #447a7a);
  padding: 2.5vw;
  margin-top: 2.5vw;
  color: black;
}

.bodyDisco .mainDisco .discosSec .imgDisco {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bodyDisco .mainDisco .discosSec .imgDisco img {
  width: 80%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-box-shadow: 0px 0px 9px black;
          box-shadow: 0px 0px 9px black;
}

.bodyDisco .mainDisco .discosSec .colDosDisco {
  text-align: center;
}

.bodyDisco .mainDisco .discosSec .colDosDisco .nombre {
  font-weight: bold;
}

.bodyDisco .mainDisco .discosSec .colDosDisco .nombreBis {
  font-size: 1.1vw;
}

.bodyDisco .mainDisco .discosSec .colDosDisco .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  top: 50%;
  font-size: 2vw;
}

.bodyDisco .mainDisco .discosSec .colDosDisco .redes a {
  color: #2b0dfd;
}

.bodyDisco .mainDisco .discosSec .colDosDisco .redes a:hover {
  color: #8f91ff;
}

.bodyDisco .mainDisco .discosSec .colDosDisco .redesBis {
  top: 42%;
}

.bodyDisco .footerInd img {
  margin-top: 0vw;
}

/*CIERRE DISCOGRAFÍA*/
/*BANDAS*/
.bodyBandas .headBandas .headCol {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "navBar navBar navBar" "imag imag titulo";
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
  text-align: center;
  background-image: radial-gradient(#FD8C69, #A82654);
}

.bodyBandas .headBandas .headCol .navBandas {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: navBar;
  text-align: start;
  word-spacing: 1vw;
  margin-top: 1.5vw;
  margin-left: 2vw;
}

.bodyBandas .headBandas .headCol .navBandas a {
  color: black;
  text-decoration: none;
  font-size: 1.1vw;
  letter-spacing: 0.2vw;
  font-weight: bold;
}

.bodyBandas .headBandas .headCol .navBandas a:hover {
  color: white;
}

.bodyBandas .headBandas .headCol .imgBandas {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: imag;
}

.bodyBandas .headBandas .headCol .imgBandas img {
  width: 60%;
  height: 100%;
  margin-left: 48%;
}

.bodyBandas .headBandas .headCol .tituloBandas {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: titulo;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.bodyBandas .headBandas .headCol .tituloBandas h1 {
  color: black;
  font-family: 'Alfa Slab One', cursive;
}

.bodyBandas .headBandas .headCol .tituloBandas span {
  color: white;
}

.bodyBandas .mainBandas .mainBandasUno, .bodyBandas .mainBandas .mainBandasTres {
  background-color: #eaeaea;
  color: black;
}

.bodyBandas .mainBandas .mainBandasUno .bandasColUno, .bodyBandas .mainBandas .mainBandasTres .bandasColUno {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 5vw;
}

.bodyBandas .mainBandas .mainBandasUno .bandasColUno img, .bodyBandas .mainBandas .mainBandasTres .bandasColUno img {
  width: 70%;
  -webkit-box-shadow: 3px 3px 5px black;
          box-shadow: 3px 3px 5px black;
}

.bodyBandas .mainBandas .mainBandasUno .bandasColDos, .bodyBandas .mainBandas .mainBandasTres .bandasColDos {
  padding: 5vw;
}

.bodyBandas .mainBandas .mainBandasUno .bandasColDos h2, .bodyBandas .mainBandas .mainBandasTres .bandasColDos h2 {
  text-align: center;
  font-weight: bold;
}

.bodyBandas .mainBandas .mainBandasUno .bandasColDos .textoMainBandas, .bodyBandas .mainBandas .mainBandasTres .bandasColDos .textoMainBandas {
  margin-top: 3vw;
}

.bodyBandas .mainBandas .mainBandasDos {
  background-color: #171717;
}

.bodyBandas .mainBandas .mainBandasDos .bandasColUno {
  padding: 5vw;
}

.bodyBandas .mainBandas .mainBandasDos .bandasColUno h2 {
  text-align: center;
  font-weight: bold;
}

.bodyBandas .mainBandas .mainBandasDos .bandasColUno .textoMainBandas {
  margin-top: 3vw;
}

.bodyBandas .mainBandas .mainBandasDos .bandasColDos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 5vw;
}

.bodyBandas .mainBandas .mainBandasDos .bandasColDos img {
  width: 70%;
  -webkit-box-shadow: 3px 3px 5px black;
          box-shadow: 3px 3px 5px black;
}

.bodyBandas .mainBandas .mainBandasTres {
  position: relative;
  z-index: 2;
}

/*CIERRE BANDAS*/
/*CONTACTO*/
.bodyContacto .headContacto .headCol {
  background-image: radial-gradient(#F6B5CC, #6D678E);
}

.bodyContacto .mainContacto {
  position: relative;
  z-index: 2;
  background-color: #0f0f0f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding-top: 20vh;
  padding-bottom: 20vh;
}

.bodyContacto .mainContacto #imgContacto {
  -webkit-box-shadow: 0px 0px 10px black;
          box-shadow: 0px 0px 10px black;
}

.bodyContacto .mainContacto #formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.bodyContacto .mainContacto #formulario #radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 15px;
  width: 20vw;
}

.bodyContacto .mainContacto #formulario #radio p {
  margin-top: -7px;
  margin-left: 5px;
}

.bodyContacto .mainContacto #formulario .data {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 0.8rem;
  min-width: 300px;
}

.bodyContacto .mainContacto #formulario .data:focus, .bodyContacto .mainContacto #formulario textarea:focus {
  font-size: 0.6rem;
  border: 2px solid #d190d7;
}

.bodyContacto .mainContacto #formulario .botones {
  margin-top: 20px;
  font-size: 0.8rem;
}

.bodyContacto .mainContacto #formulario .bot {
  min-width: 130px;
}

.bodyContacto .mainContacto #formulario .bot:hover {
  background-color: #d190d7;
}

.bodyContacto .mainContacto #formulario textarea {
  padding: 10px;
  font-size: 0.8rem;
  width: 100%;
  min-width: 430px;
}

.bodyContacto .footerInd img {
  margin-top: 0vw;
}

/*CIERRE CONTACTO*/
/* MEDIA QUERIES */
@media screen and (max-width: 600px) {
  /*General*/
  .footerInd .footerIndCol img {
    width: 35%;
    margin-top: -30vw;
  }
  .footerInd .footerIndCol .imgFooterDos {
    margin-top: 0;
  }
  /*INDEX*/
  .bodyInd .headInd .headCol .navInd a, .bodyInd .bodyContacto .headContacto .headCol .navInd a, .bodyContacto .bodyInd .headContacto .headCol .navInd a {
    font-size: 2vw;
  }
  .bodyInd .headInd .headCol .imgInd img, .bodyInd .bodyContacto .headContacto .headCol .imgInd img, .bodyContacto .bodyInd .headContacto .headCol .imgInd img {
    width: 100%;
    margin-left: 16vw;
  }
  .bodyInd .headInd .headCol .tituloInd h1, .bodyInd .bodyContacto .headContacto .headCol .tituloInd h1, .bodyContacto .bodyInd .headContacto .headCol .tituloInd h1 {
    font-size: 4.5vw;
  }
  .bodyInd .mainInd .mainIndUno {
        grid-template-areas: "bioInd" "discoInd";
    -ms-grid-columns: 100% 100%;
        grid-template-columns: 100% 100%;
  }
  .bodyInd .mainInd .mainIndUno .bioInd {
    height: 53vh;
  }
  .bodyInd .mainInd .mainIndUno .bioInd img {
    width: 60%;
    margin-left: 30px;
  }
  .bodyInd .mainInd .mainIndUno .bioInd .msjBio p {
    font-size: 2.5vw;
  }
  .bodyInd .mainInd .mainIndUno .bioInd p:hover {
    font-size: 1rem;
  }
  .bodyInd .mainInd .mainIndUno .discoInd {
    height: 53vh;
  }
  .bodyInd .mainInd .mainIndUno .discoInd img {
    width: 50%;
  }
  .bodyInd .mainInd .mainIndUno .discoInd .msjDisco {
    position: relative;
    top: -10px;
    left: 0;
  }
  .bodyInd .mainInd .mainIndUno .discoInd .msjDisco p {
    font-size: 2.5vw;
  }
  .bodyInd .mainInd .mainIndUno .discoInd .msjDisco p:hover {
    font-size: 1rem;
  }
  .bodyInd .mainInd .mainIndDos {
        grid-template-areas: "bandasInd" "contactoInd";
    -ms-grid-columns: 100% 100%;
        grid-template-columns: 100% 100%;
    height: 100%;
  }
  .bodyInd .mainInd .mainIndDos .bandasIndCol {
    height: 53vh;
  }
  .bodyInd .mainInd .mainIndDos .bandasIndCol .textoBandasInd {
    width: 70%;
    height: 50%;
    margin-top: -24vw;
    margin-left: 15vw;
  }
  .bodyInd .mainInd .mainIndDos .bandasIndCol .textoBandasInd p {
    font-size: 2.5vw;
  }
  .bodyInd .mainInd .mainIndDos .bandasIndCol .textoBandasInd p:hover {
    font-size: 1rem;
  }
  .bodyInd .mainInd .mainIndDos .contactoIndCol {
    height: 53vh;
    position: relative;
    z-index: 999999999;
  }
  .bodyInd .mainInd .mainIndDos .contactoIndCol .msjContacto p {
    font-size: 2.5vw;
  }
  .bodyInd .mainInd .mainIndDos .contactoIndCol .msjContacto p:hover {
    font-size: 1rem;
  }
  /*CIERRE INDEX*/
  /*BIOGRAFÍA*/
  .bodyBio .headBio .headCol .navBio a {
    font-size: 2vw;
  }
  .bodyBio .headBio .headCol .imgBio img {
    width: 100%;
    margin-left: 16vw;
  }
  .bodyBio .headBio .headCol .tituloBio h1 {
    font-size: 4.5vw;
  }
  .bodyBio .mainBio .textoMainBio p {
    font-size: 2vw;
  }
  .bodyBio .mainBio .mainBioUno, .bodyBio .mainBio .mainBioTres {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .bodyBio .mainBio .mainBioUno .bioColUno, .bodyBio .mainBio .mainBioTres .bioColUno {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bodyBio .mainBio .mainBioUno .bioColUno img, .bodyBio .mainBio .mainBioTres .bioColUno img {
    width: 30%;
  }
  .bodyBio .mainBio .mainBioUno .bioColDos p, .bodyBio .mainBio .mainBioTres .bioColDos p {
    margin-left: 8vw;
    margin-right: 8vw;
  }
  .bodyBio .mainBio .mainBioDos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse nowrap;
            flex-flow: column-reverse nowrap;
  }
  .bodyBio .mainBio .mainBioDos .bioColUno p {
    margin-left: 8vw;
    margin-right: 8vw;
  }
  .bodyBio .mainBio .mainBioDos .bioColDos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .bodyBio .mainBio .mainBioTres {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .bodyBio .mainBio .mainBioTres .bioColUno {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .bodyBio .mainBio .mainBioTres .bioColDos p {
    margin-left: 8vw;
    margin-right: 8vw;
  }
  /*CIERRE BIOGRAFÍA*/
  /*DISCOGRAFÍA*/
  .bodyDisco .headDisco .headCol .navDisco a {
    font-size: 2vw;
  }
  .bodyDisco .headDisco .headCol .imgDisco img {
    width: 100%;
    margin-left: 16vw;
  }
  .bodyDisco .headDisco .headCol .tituloDisco {
    margin-left: -110vw;
  }
  .bodyDisco .headDisco .headCol .tituloDisco h1 {
    font-size: 4.5vw;
  }
  .bodyDisco .mainDisco {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .bodyDisco .mainDisco .discosSec {
    max-width: none;
    width: 90%;
    height: 200px;
  }
  .bodyDisco .mainDisco .discosSec .imgDisco img {
    width: 60%;
  }
  .bodyDisco .mainDisco .discosSec .colDosDisco .nombre {
    font-size: 0.9rem;
  }
  .bodyDisco .mainDisco .discosSec .colDosDisco .redes {
    font-size: 1.3rem;
  }
  /*CIERRE DISCOGRAFÍA*/
  /*BANDAS*/
  .bodyBandas .headBandas .headCol .navBandas a {
    font-size: 2vw;
  }
  .bodyBandas .headBandas .headCol .imgBandas img {
    width: 100%;
    margin-left: 16vw;
  }
  .bodyBandas .headBandas .headCol .tituloBandas h1 {
    font-size: 4.5vw;
  }
  .bodyBandas .mainBandas .textoMainBandas p {
    font-size: 2vw;
    margin-left: 8vw;
    margin-right: 8vw;
  }
  .bodyBandas .mainBandas .mainBandasUno, .bodyBandas .mainBandas .mainBandasTres {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .bodyBandas .mainBandas .mainBandasUno .bandasColUno, .bodyBandas .mainBandas .mainBandasTres .bandasColUno {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .bodyBandas .mainBandas .mainBandasUno .bandasColUno img, .bodyBandas .mainBandas .mainBandasTres .bandasColUno img {
    width: 35%;
  }
  .bodyBandas .mainBandas .mainBandasDos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse nowrap;
            flex-flow: column-reverse nowrap;
  }
  .bodyBandas .mainBandas .mainBandasDos .bandasColDos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .bodyBandas .mainBandas .mainBandasDos .bandasColDos img {
    width: 35%;
  }
  .bodyBandas .mainBandas .mainBandasTres .bandasColUno img {
    width: 35%;
  }
  /*CIERRE BANDAS*/
  /*CONTACTO*/
  .bodyContacto .headContacto .headCol .navInd a {
    font-size: 2vw;
  }
  .bodyContacto .headContacto .headCol .imgInd img {
    width: 100%;
    margin-left: 16vw;
  }
  .bodyContacto .headContacto .headCol .tituloInd h1 {
    font-size: 4.5vw;
  }
  .bodyContacto .mainContacto {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .bodyContacto .mainContacto img {
    width: 80%;
  }
  .bodyContacto .mainContacto #formulario textarea {
    width: 80%;
    min-width: 330px;
  }
  .bodyContacto .mainContacto #formulario #radio p {
    font-size: 3vw;
  }
  /*CIERRE CONTACTO*/
}

@media (min-width: 601px) and (max-width: 800px) {
  /*General*/
  .footerInd .footerIndCol img {
    width: 35%;
    margin-top: -30vw;
  }
  .footerInd .footerIndCol .imgFooterDos {
    margin-top: 0;
  }
  .mensajes, .mainInd .mainIndUno .bioInd .msjBio, .mainInd .mainIndUno .discoInd .msjDisco, .mainInd .mainIndDos .contactoIndCol div .msjContacto {
    font-size: 1.1rem;
  }
  /*INDEX*/
  .bodyInd .headInd .headCol .navInd a, .bodyInd .bodyContacto .headContacto .headCol .navInd a, .bodyContacto .bodyInd .headContacto .headCol .navInd a {
    font-size: 1.6vw;
  }
  .bodyInd .mainInd .mainIndUno {
        grid-template-areas: "bioInd" "discoInd";
    -ms-grid-columns: 100% 100%;
        grid-template-columns: 100% 100%;
  }
  .bodyInd .mainInd .mainIndUno .bioInd {
    height: 53vh;
  }
  .bodyInd .mainInd .mainIndUno .bioInd .msjBio p:hover {
    font-size: 1.3rem;
  }
  .bodyInd .mainInd .mainIndUno .discoInd {
    height: 53vh;
  }
  .bodyInd .mainInd .mainIndUno .discoInd .msjDisco {
    position: relative;
    top: -10px;
    left: 0;
  }
  .bodyInd .mainInd .mainIndUno .discoInd .msjDisco p:hover {
    font-size: 1.3rem;
  }
  .bodyInd .mainInd .mainIndDos {
        grid-template-areas: "bandasInd" "contactoInd";
    -ms-grid-columns: 100% 100%;
        grid-template-columns: 100% 100%;
    height: 100%;
  }
  .bodyInd .mainInd .mainIndDos .bandasIndCol {
    height: 53vh;
  }
  .bodyInd .mainInd .mainIndDos .bandasIndCol .textoBandasInd {
    margin-top: -21vw;
    margin-left: 25vw;
  }
  .bodyInd .mainInd .mainIndDos .bandasIndCol .textoBandasInd p {
    font-size: 1.1rem;
  }
  .bodyInd .mainInd .mainIndDos .bandasIndCol .textoBandasInd p:hover {
    font-size: 1.3rem;
  }
  .bodyInd .mainInd .mainIndDos .contactoIndCol {
    height: 53vh;
    position: relative;
    z-index: 999999999;
  }
  .bodyInd .mainInd .mainIndDos .contactoIndCol .msjContacto p:hover {
    font-size: 1.3rem;
  }
  /*CIERRE INDEX*/
  /*BIOGRAFÍA*/
  .bodyBio .headBio .headCol .navBio a {
    font-size: 1.6vw;
  }
  .bodyBio .mainBio .mainBioUno, .bodyBio .mainBio .mainBioTres {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .bodyBio .mainBio .mainBioUno .bioColUno, .bodyBio .mainBio .mainBioTres .bioColUno {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bodyBio .mainBio .mainBioUno .bioColUno img, .bodyBio .mainBio .mainBioTres .bioColUno img {
    width: 30%;
  }
  .bodyBio .mainBio .mainBioUno .bioColDos p, .bodyBio .mainBio .mainBioTres .bioColDos p {
    margin-left: 8vw;
    margin-right: 8vw;
  }
  .bodyBio .mainBio .mainBioDos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse nowrap;
            flex-flow: column-reverse nowrap;
  }
  .bodyBio .mainBio .mainBioDos .bioColUno p {
    margin-left: 8vw;
    margin-right: 8vw;
  }
  .bodyBio .mainBio .mainBioDos .bioColDos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .bodyBio .mainBio .mainBioTres {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .bodyBio .mainBio .mainBioTres .bioColUno {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .bodyBio .mainBio .mainBioTres .bioColDos p {
    margin-left: 8vw;
    margin-right: 8vw;
  }
  /*CIERRE BIOGRAFÍA*/
  /*DISCOGRAFÍA*/
  .bodyDisco .headDisco .headCol .navDisco a {
    font-size: 1.6vw;
  }
  .bodyDisco .mainDisco {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .bodyDisco .mainDisco .discosSec {
    max-width: none;
    width: 90%;
    height: 200px;
  }
  .bodyDisco .mainDisco .discosSec .imgDisco img {
    width: 60%;
  }
  .bodyDisco .mainDisco .discosSec .colDosDisco .nombre {
    font-size: 1.1rem;
  }
  .bodyDisco .mainDisco .discosSec .colDosDisco .redes {
    font-size: 1.3rem;
  }
  /*CIERRE DISCOGRAFÍA*/
  /*BANDAS*/
  .bodyBandas .headBandas .headCol .navBandas a {
    font-size: 1.6vw;
  }
  .bodyBandas .mainBandas .textoMainBio p {
    margin-left: 8vw;
    margin-right: 8vw;
  }
  .bodyBandas .mainBandas .mainBandasUno, .bodyBandas .mainBandas .mainBandasTres {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .bodyBandas .mainBandas .mainBandasUno .bandasColUno, .bodyBandas .mainBandas .mainBandasTres .bandasColUno {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .bodyBandas .mainBandas .mainBandasUno .bandasColUno img, .bodyBandas .mainBandas .mainBandasTres .bandasColUno img {
    width: 35%;
  }
  .bodyBandas .mainBandas .mainBandasDos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse nowrap;
            flex-flow: column-reverse nowrap;
  }
  .bodyBandas .mainBandas .mainBandasDos .bandasColDos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .bodyBandas .mainBandas .mainBandasDos .bandasColDos img {
    width: 35%;
  }
  .bodyBandas .mainBandas .mainBandasTres .bandasColUno img {
    width: 35%;
  }
  /*CIERRE BANDAS*/
  /*CONTACTO*/
  .bodyContacto .headContacto .headCol .navInd a {
    font-size: 1.6vw;
  }
  /*CIERRE CONTACTO*/
}

@media screen and (max-width: 950px) {
  /*INDEX*/
  .bodyInd .mainInd .mainIndDos .bandasIndCol .textoBandasInd {
    height: 40%;
  }
  /*CIERRE INDEX*/
  /*BIOGRAFÍA*/
  .bodyBio .mainBio .mainBioUno .bioColUno .imgOculta, .bodyBio .mainBio .mainBioTres .bioColUno .imgOculta {
    display: inherit;
  }
  .bodyBio .mainBio .mainBioDos .bioColDos .imgOculta {
    display: inherit;
  }
  /*CIERRE BIOGRAFÍA*/
  /*CONTACTO*/
  .bodyContacto .mainContacto {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
  /*CIERRE CONTACTO*/
}

@media (min-width: 800px) and (max-width: 1100px) {
  /*INDEX*/
  .bodyInd .headInd .headCol .navInd a, .bodyInd .bodyContacto .headContacto .headCol .navInd a, .bodyContacto .bodyInd .headContacto .headCol .navInd a {
    font-size: 1.4vw;
  }
  /*CIERRE INDEX*/
  /*BIOGRAFÍA*/
  .bodyBio .headBio .headCol .navBio a {
    font-size: 1.4vw;
  }
  /*CIERRE BIOGRAFÍA*/
  /*DISCOGRAFÍA*/
  .bodyDisco .headDisco .headCol .navDisco a {
    font-size: 1.4vw;
  }
  .bodyDisco .mainDisco {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .bodyDisco .mainDisco .discosSec {
    max-width: none;
    width: 90%;
    height: 250px;
  }
  .bodyDisco .mainDisco .discosSec .imgDisco img {
    width: 50%;
  }
  .bodyDisco .mainDisco .discosSec .colDosDisco .nombre {
    font-size: 1.5rem;
  }
  .bodyDisco .mainDisco .discosSec .colDosDisco .redes {
    font-size: 1.6rem;
  }
  /*CIERRE DISCOGRAFÍA*/
  /*BANDAS*/
  .bodyBandas .headBandas .headCol .navBandas a {
    font-size: 1.4vw;
  }
  /*CIERRE BANDAS*/
  /*CONTACTO*/
  .bodyContacto .headContacto .headCol .navInd a {
    font-size: 1.4vw;
  }
  /*CIERRE CONTACTO*/
}
/*# sourceMappingURL=estilos.css.map */